@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-[1.1];
}

.q-contain {
    @apply max-w-lg mx-auto px-8 sm:px-12 md:px-24 md:max-w-4xl lg:px-4;
}

.q-contain-md {
    @apply max-w-2xl mx-auto px-8 sm:px-12 md:px-16 lg:px-0;
}

.q-fluid-text {
    font-size: clamp(40px, 8vw, 80px);
}

.q-shadow {
    @apply shadow-[0px_0px_30px_0px_rgba(0,0,0,0.3)];
}

.myTagCloud span {
    /* @apply underline; */
    /* @apply border-l-2 border-accent */
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.q-input {
    @apply px-4 py-3 rounded-sm border-l-2 bg-gray-200/20 border-l-accent/80 outline-none focus:placeholder-transparent;
}

.q-writing-vertical {
    writing-mode: vertical-lr;
}



body::-webkit-scrollbar {
    @apply w-[10px]
}

body::-webkit-scrollbar-track {
    @apply bg-transparent
}

body::-webkit-scrollbar-thumb {
    /* @apply bg-secondary-text/80 rounded */
    @apply bg-accent/30 rounded
}


/* body::-webkit-scrollbar-thumb {
    background: #888;
    border: 3px solid blue;
    border-radius: 10px;
} */